---
import Layout from "../../layouts/Layout.astro";
import "./home.css";
import { Image } from "astro:assets";
import math from "../../assets/images/math.jpg";
import masonry from "../../assets/images/masonry.png";
import animation from "../../assets/images/animations.png";
---

<Layout title="Laboratory Frontend - Math">
  <main class="main">
    <nav class="navigation">
      <a class="option" href="/math">
        <h2 class="option__title">Math</h2>
        <figure class="option__image image-math">
          <Image
            src={math}
            alt="image with mathematical operations"
            width={1010}
          />
        </figure>
      </a>

      <a class="option" href="/grid-css">
        <h2 class="option__title">GRID CSS</h2>
        <figure class="option__image image-grid">
          <Image src={masonry} alt="image with masonry grid" width={1010} />
        </figure>
      </a>

      <a class="option" href="/animations">
        <h2 class="option__title">Animations</h2>
        <figure class="option__image image-animation">
          <Image src={animation} alt="image of animations css" width={1010} />
        </figure>
      </a>
    </nav>
  </main>
</Layout>
