---
import Layout from "../../layouts/Layout.astro";
import "./home.css";
import math from "../../assets/images/math.jpg";
import masonry from "../../assets/images/masonry.png";
import animation from "../../assets/images/animations.png";
import { OptionNavigation } from "../../components/OptionNavigation/OptionNavigation";
---

<Layout title="Laboratory Frontend - Math">
  <main class="main">
    <nav class="navigation">
      <OptionNavigation
        href="/math"
        title="Math"
        image={math}
        imageDescription="image with mathematical operations"
        aspectRadio="1/1"
        width={1010}
      />

      <OptionNavigation
        href="/grid-css"
        title="GRID CSS"
        image={masonry}
        imageDescription="image with masonry grid"
        aspectRadio="1/1"
        width={1010}
      />

      <OptionNavigation
        href="/animations"
        title="Animations"
        image={animation}
        imageDescription="image of animations css"
        aspectRadio="1/1"
        width={1010}
      />
    </nav>
  </main>
</Layout>
